@using Microsoft.AspNet.Identity
<style>
    .logOff, .loginDesign {
        margin-right: 14px;
    }
</style>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "logOff" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @{
        if (User.IsInRole("Admin"))
        {
            <li>
                @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "! (Admin)", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        }
        else if (User.IsInRole("SuperAdmin"))
        {
            <li>
                @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "! (SuperAdmin)", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "! (User)", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        }
    }
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right loginDesign">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
